*.properties
*.html
*.jar
*.jnlp
*.class
build/built-jar.properties
*.properties
*.class
*.class
build/classes/AdditionalScenes/ApplicationsController.class
*.class
build/classes/backend/Scholarship.class
*.properties
dist/Seng300.html
*.jar
*.jnlp
build/
